:root {
  --color-blue-main: #62d0df;
  --color-blue-dark: #319ead;
  --color-white-main: #ffffff;
  --color-second-white: #f4f9e2;
  --color-midnight-blue: #22356F;
  --color-navy: #0052C1;
  --color-text-gold: #f9b640;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Larsseit", sans-serif;
}

.content {
  max-width: 1440px;
}

.ready-block {
  height: 100%;
  display: flex;
  gap: 201px;
  background: var(--color-midnight-blue);
}

.ready-block__content {
  padding: 103px 0 42px 180px;

}

.ready-block__contact__btn {
  margin: 103px 0px 230px 0px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: var(--color-white-main);
  text-transform: uppercase;
}

.ready-block__title {
  margin: 0 0 75px 0px;
  font-size: 64px;
  font-weight: 600;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: var(--color-white-main);
}

.ready-block__text {
  max-width: 579px;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  color: var(--color-white-main);
  flex: 1 1 auto;
}

.ready-block__btn {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: var(--color-blue-main);
  text-transform: uppercase;
}

.ready-block__btn:active {
  color: black;
}

.ready-block__contact__btn:hover {
  color: var(--color-blue-main);
  font-size: 28px;
}

.ready-block__image {
  display: flex;
  justify-content: right;
  flex: 0 0 480px;
  height: 800px;
  display: flex;
  justify-content: right;
}